language: julia
os:
  - linux
  - osx
julia:
  - release
  - nightly
notifications:
  email: false
  irc: "chat.freenode.com#kfischer-julia"
sudo: false
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia --check-bounds=yes -e 'Pkg.clone(pwd()); Pkg.test("URIParser", coverage=true)'
after_success:
  - julia -e 'cd(Pkg.dir("URIParser")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
