language: julia

sudo: false

os:
  - linux
  - osx
  - windows

arch:
  - x64
  - x86

julia:
  - 1.0
  - 1
  - nightly

env:
  - JULIA_PROJECT="@."

matrix:
  exclude:
    - os: osx
      arch: x86
  allow_failures:
  - julia: nightly

notifications:
  email: false

after_success:
   - julia -e 'ENV["TRAVIS_JULIA_VERSION"] == "1.3" && ENV["TRAVIS_OS_NAME"] != "linux" && exit(); using Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'

jobs:
  include:
    - stage: "Documentation"
      julia: 1.3
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
        - julia --project=docs/ docs/make.jl
      after_success: skip
